# macOS
.DS_Store

# Build Artifacts
Advoid.app/
advoid-engine

# Generated LLVM & Object Files
blocklist.ll
final.ll
final.o
final_tiny.ll
final_tiny.o
empty_blocklist.ll

# Legacy Binaries
advoid
advoid-tiny
